.status
{
	border-top: #6C8291 1px solid;
	border-left: #6C8291 1px solid;
	border-right: #6C8291 1px solid;
	border-bottom: #6C8291 1px solid;
	background : #F0F4F7;
	font-size: 0.7em;
	margin-bottom:5px;
	color: #505559;
}

.message
{
	border-top: #6C8291 1px solid;
	border-left: #6C8291 1px solid;
	border-right: #6C8291 1px solid;
	border-bottom: #6C8291 1px solid;
	background : #F2F6F8;
	margin-bottom:10px;
	color: #33333;
}
.cmessage
{
	border-top: #6C8291 1px solid;
	border-left: #6C8291 1px solid;
	border-right: #6C8291 1px solid;
	border-bottom: #6C8291 1px solid;
	background : #F2F6F8;
	margin-bottom:10px;
	color: #33333;
	opacity: 0.6;
}
