﻿<div class="outContent">
    <span class="outContentTime">[%time{%H:%M:%S}%]</span>
    <span class="outContentSender"><span style="color: %senderColor%" oncontextmenu="client.contextMenu('%sender%'); return false" onclick="client.appendNick('%sender%')">%sender%:</span></span>
    <span class="outContentMessage">%message%</span>
</div>
<div id="insert"></div>
