﻿<div class="outNextContent">
    <span class="outNextContentTime">[%time{%H:%M:%S}%]</span>
    <span class="outNextContentSender"><span style="color: %senderColor%" oncontextmenu="client.contextMenu('%sender%'); return false" onclick="client.appendNick('%sender%')">%sender%:</span></span>
    <span class="outNextContentMessage">%message%</span>
</div>
<div id="insert"></div>
