﻿<div class="inNextContent">
    <span class="inNextContentTime">[%time{%H:%M:%S}%]</span>
    <span class="inNextContentSender"><span style="color: %senderColor%" oncontextmenu="client.contextMenu('%sender%'); return false" onclick="client.appendNick('%sender%')">%sender%:</span></span>
    <span class="inNextContentMessage">%message%</span>
</div>
<div id="insert"></div>
