<div class="message">
	<div class="title">
		<img height="16" width="16" src="images/inmsg.png" align="left"/>
		<span class="incomingTitle">%sender% (%time{%H:%M:%S %d/%m/%Y}%):</span>
	</div>
	<div class="internalMessage">
		<img class="avatar" src="%userIconPath%" align="right">
		%message%
	<span id="insert"></span>
	</div>
</div>