<div class="remark">
	<div class="out"><span class="contact" oncontextmenu="client.contextMenu('%sender%'); return false" onclick="client.appendNick('%sender%')">%sender%</span><span class="time"> (%time{%H:%M}%)</span></div>
	<div class="message highlight"><div id="%messageId%" class="notDelivered">%message%</div></div>
	<div id="insert"></div>
</div>
