<div class="status">
    <div class="title">
		<span class="statusTitle">
			<div class="m_wink"></div>
			(%time{%H:%M:%S %d/%m/%Y}%):
		</span>
	</div>
	<div class="internalMessage">%message%</div>
</div>
