<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="17"><img src="{themepath}/images/top_left.png" width="17" height="16" alt=""></td>
		<td background="{themepath}/images/top.png"></td>
		<td width="18"><img src="{themepath}/images/top_right.png" width="18" height="16" alt=""></td>
	</tr>
	<tr>
		<td background="{themepath}/images/left.png"></td>
		<td background="{themepath}/images/background.png">
			<h3 class="title" align="center">{title}</h3>
			<p class="message">
				<img src="{imagepath}" height="30" align="right">
				{body}
			</p>
		</td>
		<td background="{themepath}/images/right.png"></td>
	</tr>
	<tr>
		<td><img src="{themepath}/images/bottom_left.png" width="17" height="16" alt=""></td>
		<td background="{themepath}/images/bottom.png"></td>
		<td><img src="{themepath}/images/bottom_right.png" width="18" height="16" alt=""></td>
	</tr>
</table>
