<div class="status">
	<div class="title">
		<span style="color:%senderColor%;s" class="statusTitle">
			(%time{%H:%M:%S}%)
		</span>
	</div>
	<div class="internalMessage"><b>%sender%</b> : %message%</div>
	<span id="insert"></span>
</div>
