<div class="cmessage">
	<div class="title">
		<div class="m_sending"> </div>   
		<span class="outcomingTitle">%sender% (%time{%H:%M:%S %d/%m/%Y}%):</span>
	</div>
	<div class="internalMessage">
		<img class="avatar" src="%userIconPath%" align="right">
		%message%
	<span id="insert"></span>
	</div>
</div>